@import 'tailwindcss';

@theme {
  --color-bg: #f8fafc;
  --color-primary: #4632f5;
  --shadow-root: 0 4px 36px -6px rgb(0 0 0 / 8%);
  --radius-5xl: 2.5rem;
  --radius-6xl: 3rem;
  --font-sans:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --blur-4xl: 128px;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: var(--color-gray-500);
  background-color: var(--color-bg);

  @apply print:bg-white;
}
