@import 'tailwindcss';

@theme {
  --color-bg: #F8FAFC;
  --color-primary: #4632F5;

  --shadow-root: 0 4px 36px -6px rgba(0, 0, 0, .08);

  --radius-5xl: 2.5rem;
  --radius-6xl: 3rem;

  --font-sans:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: var(--color-gray-500);
  background-color: var(--color-bg);
}
